@import "../styles/variables.scss";
@import "../styles/breakpoints.scss";

/* About Section */

.about-section{
    z-index: -5;
}


.hi-span{
    float: left;
    margin: 0px 10px 0px 1px;
    font-family: 'Signika', sans-serif;
    font-size: 5rem;
    line-height: 64px;
    color: $gold;
}

.about{
    padding: 2rem 3rem 1rem 3rem;
}

p:nth-of-type(1){
    margin-bottom: 3rem;
}
p:nth-of-type(2){
    margin-top: 1rem;
}

.about-links{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    margin-top: 2rem;
}

.about-link-download{
    background-color: black;
    width: 120px;
    height: 40px;
    padding: 10px 30px;
    margin: 10px 0px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;


    &:visited{
          color: white;
    };

    &:hover, &:active{
        color: white;
        background-color: #c7a86f;
        transition: all 0.3s ease-in;
    };

    &:after{
        content: "";
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        left: 67px;
        bottom: 14px;
        transition: all 0.2s ease-in;
        opacity: 0;
    } 
    &:hover:after, &:hover:active{
        opacity: 1;
    }
}

/* Divider */

.about-technologies-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.about-technologies-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 88px;
}

.about-technologies-divider .shape-fill {
    fill: #FFFFFF;
}


/* Technologies Section  */

.about-technologies{
    position: relative;
    z-index: -1;
    background-color: $light-gold;
    padding: 8rem 0 0;
    
    .technologies-box{

       padding-bottom: 13rem;

        h3{

            text-align: center;
        }

    }

    .technologies-list{

        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        ul{
            li{
                padding: 5px;
            }
        }

    }
}


/* RESPONSIVE */

@include media('>=600'){    
    .about{
        padding: 2rem 10% 1rem 10%;
    }

    .hi-span{
        font-size: 6rem;
        line-height: 75px;
    }

}

@include media('>=768'){    
    .about{
        padding: 2rem 20% 1rem 20%;
        
    }

    .hi-span{
        font-size: 6rem;
        line-height: 75px;
    }

}


@include media('>=1024') {
    .about-technologies .technologies-box {
        padding-bottom: 4rem;
    }
}