@import "../styles/variables.scss";
@import "../styles/breakpoints.scss";

/* About Section */

.hi-span{
    float: left;
    margin: 0px 10px 0px 1px;
    //font-family: 'Niramit', sans-serif;
    font-family: 'Signika', sans-serif;
    font-size: 4rem;
    line-height: 52px;
    color: $gold;
}


.about-link-download{
    background-color: black;
    width: 120px;
    height: 40px;
    padding: 10px 30px;
    margin: 10px 20px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;


    &:visited{
          color: white;
    };

    &:hover{
        color: white;
        background-color: #c7a86f;
        transition: all 0.3s ease-in;
    };

    &:after{
        content: "";
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        left: 67px;
        bottom: 14px;
        transition: all 0.2s ease-in;
        opacity: 0;
    } 
    &:hover:after, &:hover:active{
        opacity: 1;
    }
}

/* Divider */

.custom-shape-divider-top-1632154628 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1632154628 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 88px;
}

.custom-shape-divider-top-1632154628 .shape-fill {
    fill: #FFFFFF;
}


/* Technologies Section  */

.about-technologies{
    position: relative;
    background-color: $light-gold;
    

    .technologies-box{

        

        h3{

            text-align: center;
        }

    }

    .technologies-list{

        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        ul{
            li{
                padding: 5px;
            }
        }

    }
}

.about-links{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}