@import "../styles/variables.scss";
@import "../styles/breakpoints.scss";


/* Footer divider  */

.footer-divider {
    overflow: hidden;
    position: relative;

    z-index: 1;

    &::before{
        content: '';
        font-family: 'shape divider from ShapeDividers.com';
        position: absolute;
        bottom: -1px;
        left: -1px;
        right: -1px;
        top: -1px;
 
        pointer-events: none;
        background-repeat: no-repeat;
        background-size: 100% 126px;
        background-position: 50% 100%;
        background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100"><g fill="%23000000"><path opacity=".5" d="M0 13.2v12.2l220.7 19.2L0 70.9v11.3l250-38.1L0 13.2z"/><path opacity=".5" d="M0 25.4v8.8l145.2 12.6L0 64.1v6.8l220.7-26.3L0 25.4z"/><path opacity=".5" d="M0 25.4v8.8l145.2 12.6L0 64.1v6.8l220.7-26.3L0 25.4z"/><path opacity=".5" d="M0 34.2v29.9l145.2-17.3L0 34.2z"/><path opacity=".5" d="M0 34.2v29.9l145.2-17.3L0 34.2z"/><path opacity=".75" d="M0 34.2v29.9l145.2-17.3L0 34.2z"/><path opacity=".5" d="M750 44.1l250 38.1V69.9L779.3 43.6 1000 24.4V13.2L750 44.1zM750 44.1l-250-31-250 31 250 38zM500 24.4l220.7 19.3L500 69.8 279.3 43.6z"/><path d="M500 82.2L250 44.1 0 82.2v18h1000v-18L750 44.1 500 82.2z"/><path d="M720.7 43.6L500 24.4 279.3 43.7 500 69.8zM500 30.3l164.6 14.3L500 64.1 335.4 44.5z" opacity=".5"/><path d="M720.7 43.6L500 24.4 279.3 43.7 500 69.8zM500 30.3l164.6 14.3L500 64.1 335.4 44.5z" opacity=".5"/><path opacity=".5" d="M664.6 44.5L500 30.2 335.4 44.5 500 64.1l164.6-19.6z"/><path opacity=".5" d="M664.6 44.5L500 30.2 335.4 44.5 500 64.1l164.6-19.6z"/><path opacity=".75" d="M664.6 44.5L500 30.2 335.4 44.5 500 64.1l164.6-19.6z"/><path opacity=".5" d="M1000 69.9v-5.8L854.9 46.8 1000 34.2v-9.8L779.3 43.6 1000 69.9z"/><path opacity=".5" d="M1000 69.9v-5.8L854.9 46.8 1000 34.2v-9.8L779.3 43.6 1000 69.9z"/><path opacity=".5" d="M1000 64.1V34.2L854.9 46.8 1000 64.1z"/><path opacity=".5" d="M1000 64.1V34.2L854.9 46.8 1000 64.1z"/><path opacity=".75" d="M1000 64.1V34.2L854.9 46.8 1000 64.1z"/></g></svg>');
    }
}

@include media('>=768'){
    .footer-divider::before {
        background-size: 100% 181px;
        background-position: 50% 100%;
    }
}

@include media('>=1024'){

  
    .footer-divider::before {
        
        background-size: 100% 220px;
        background-position: 50% 100%;

        height: 100%;
        width: 35%;
        position: fixed;

        top: -20%;
       
    }
}


/* Footer */

footer {
    background:black;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;

    .footer-icons{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 2.5rem;
        padding: 1rem 5rem;
    }

    .footer-icons a{
        color: #ffff;
        padding: 10px;


        &:hover{
            color: $gold;
        }
    }

    h3{
        color: white;
        text-align: center;
    }
}

@include media('>=1024'){
    footer{
        height: 20%;
        width: 35%;
        position: fixed;
        left: 0;
        bottom: 0;
        margin: 0;
        padding-top: 0rem;
    }
}



/* Icons Animations */

.anim-pulsate:hover {
	-webkit-animation: pulsate 0.5s ease-in-out infinite both;
	        animation: pulsate 0.5s ease-in-out infinite both;
}


 @-webkit-keyframes pulsate {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  

