@import "../styles/variables.scss";
@import "../styles/breakpoints.scss";

/* BURGER */

.navbar__burger {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 1rem;
    right: 1rem;
    border: none;
    background: black;


    &:hover{
        cursor: pointer;
    }
}

//bars 
.burger-bar,
.burger-bar::before,
.burger-bar::after {
    display: block;
    width: 40px;
    height: 2px;
    position: relative;
    background-color: $gold;
    transition: all .5s ease-in-out;
    left: 5px;
    
}

.burger-bar::before,
.burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
    background-color: $gold;
}

.burger-bar::before {
    transform: translateY(-12px);
}

.burger-bar::after {
    transform: translateY(12px);
}

/* On click - animation of the burger */
.show-nav {


    .burger-bar {
        width: 0;
        background: transparent;
    }

    .burger-bar::before {
        transform: rotate(45deg);
    }

    .burger-bar::after {
        transform: rotate(-45deg);
    }
}

/* LINKS IN THE BURGER */

.navbar__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    width: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    padding: 2rem;
    background-color: black;
    visibility: hidden;
    transition: all .9s ease-out;
}

.navbar__link {
    display: block;
    padding: 1.5rem;
    font-size: 5vw;
    color: $gold;
}

.language-btn button{
    
    border: none;
    font-size: 5vw;
    color: $gold;
    background-color: transparent;
    padding: 1.5rem 1rem;
}

/* When the burger has been clicked on */
.show-nav .navbar__links {
    right: 0;
    width: 100vw;
    visibility: visible;
}

.navbar__burger{
    z-index: 81 ;
}

.navbar__item {
    transform: translateY(100vh);


    //under links
    &::after{
        content: "";
        display: block;
        margin: 0 auto;
        width: 3vw;
        height: 1px;
        background: $light-gold;
    }

    &:last-child::after{
        display: none;
    }
}

.show-nav .navbar__item {
    transform: translateY(0)
}

.show-nav .slideInDown-1 {
    transition: all 1.3s ease-out;
}

.show-nav .slideInDown-2 {
    transition: all 1.4s ease-out;
}

.show-nav .slideInDown-3 {
    transition: all 1.5s ease-out;
}

.show-nav .slideInDown-4 {
    transition: all 1.6s ease-out;
}

/* HORIZONTAL TABLETS + DESKTOPS */

@include media('>768') {
    .navbar {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; 
        width: 100%;
        height: 75px;
        margin: 3rem 0;

        .navbar__item{
            transform: initial;
            text-align: center;
            width: calc(100% / 3);

            &::after{
                content: "";
                display: block;
                margin: 0 auto;
                width: 8px;
                height: 8px;
                border-radius: 8px;
                background: $light-gold;
            
            }

            &:hover::after{
                background: $gold;
                width: 60px;
                height: 2px;
                border-radius: initial;
                transition: all .3s ease-out;
            }
        }

        .language-btn:after, .language-btn:hover:after{
            display: none;
            padding: 0 0 10px 0;
        }
    }


    .navbar__links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: first baseline;
        width: 100%;
        height: 100px;
        bottom: initial;
        visibility: visible;
        background-color: transparent;
        position: unset;
        padding: 0rem 2rem;
    }

    .navbar__link {
        color: black;
        padding: 0 0 10px 0;
    }

    .language-btn button{

        font-size: 1.5rem;
    }

    .navbar__burger {
        width: 40px;
        height: 40px;
        background: transparent;
        border: none;
        color: inherit;
        display: none;
    }

    .show-nav .navbar__links {
        right: unset;
        width: unset;
    }
}

@include media('>768', '<1024'){
    .navbar__link {
        font-size: 1.6rem;
    }

}

@include media('>=1024'){
    .navbar__link {
        font-size: 1.7rem;
    }
}

@include media('>=1500'){
    .navbar__link {
        font-size: 2rem;
    }
}