@import "../styles/variables.scss";
@import "../styles/breakpoints.scss";


h3{
    text-align: center;
}

.projects-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 15rem;
}



@include media('>=1024') {
    .projects-section {
        padding-bottom: 0rem;
    }
}


  